.mainBody {
    background-color: #f5f1dd;
    height: calc(100vh - 5rem);
    padding: 2rem 9rem 1rem 9rem;
}

.pathText {
    color: #7a5c3e;
    margin-bottom: 1rem;
    font-size: 1.2rem;
}

.pathSubText {
    color: #7a5c3e;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    font-weight: 600;
}